{:entity :users
 :title "Users"
 :table "users"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-icon "bi bi-person"
 :menu-category :Users

 :fields [{:id :id :label "ID" :type :hidden}
          {:id :lastname :label :users/lastname :type :text}
          {:id :firstname :label :users/firstname :type :text}
          {:id :username :label :users/username :type :text}
          {:id :dob :label :users/dob :type :date}
          {:id :cell :label :users/cell :type :text}
          {:id :phone :label :users/phone :type :text}
          {:id :fax :label :users/fax :type :text}
          {:id :email :label :users/email :type :email}
          {:id :level :label :users/level :type :radio :value "U" :options [{:value "U" :label "Usuario"}
                                                                            {:value "A" :label "Administrador"}
                                                                            {:value "S" :label "Sistema"}]}
          {:id :active :label :users/active :type :radio :value "T" :options [{:id "activeT" :value "T" :label "Activo"}
                                                                              {:id "activeF" :value "F" :label "Inactivo"}]}
          ;; {:id :imagen :label "Imagen" :type :file}
          ;; {:id :last_login :label "Last Login" :type :textarea :placeholder "Last Login..."}
          ]

 :queries {:list "SELECT * FROM users ORDER BY id DESC"
           :get "SELECT * FROM users WHERE id = ?"}

 :actions {:new true :edit true :delete true}}
